@import "tailwindcss";



:root {
    --background: #abb2bf;
    --forground: #282c33;
    --border: #282c33;
    --primary: #282c33;
    --secondary: #abb2bf;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #282c33;
        --forground: #abb2bf;
    }
} */

.dark {
    --background: #282c33;
    --forground: #abb2bf;
    --border: #abb2bf;
    --primary: #abb2bf;
    --secondary: #282c33;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-fira-sans);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);

    --color-purple: #c778dd;
    --color-light: #abb2bf;
    --color-dark: #282c33;
}



body {
    font-family: Arial, Helvetica, sans-serif;
}
